annotated-types>=0.7.0
anyio>=4.13.0
argon2-cffi>=25.1.0
argon2-cffi-bindings>=25.1.0
bandit>=1.9.4
certifi>=2026.2.25
cffi>=2.0.0
cryptography>=46.0.6
darkdetect>=0.8.0
deprecation>=2.1.0
greenlet>=3.3.2
h11>=0.16.0
httpcore>=1.0.9
httpx>=0.28.1
idna>=3.11
lance-namespace>=0.6.1
lance-namespace-urllib3-client>=0.6.1
lancedb>=0.30.2
markdown-it-py>=4.0.0
mdurl>=0.1.2
numpy>=2.4.4
packaging>=26.0
playwright>=1.58.0
pyarrow>=23.0.1
pycparser>=3.0
pydantic>=2.12.5
pydantic_core>=2.41.5
pyee>=13.0.1
Pygments>=2.20.0
PyMuPDF>=1.27.2.2
PySide6>=6.7.0
PySide6-Fluent-Widgets>=1.11.1
PySide6_Addons>=6.7.0
PySide6_Essentials>=6.7.0
PySideSix-Frameless-Window>=0.8.1
pysqlcipher3>=1.2.0
python-dateutil>=2.9.0.post0
PyYAML>=6.0.3
rich>=14.3.3
shiboken6>=6.7.0
six>=1.17.0
stevedore>=5.7.0
tqdm>=4.67.3
typing-inspection>=0.4.2
typing_extensions>=4.15.0
urllib3>=2.6.3
xcffib>=1.12.0
